.wrapper {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3f3f3f;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrapper_white {
  background-color: #fff;
}

.pop-up {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fff;
  border-radius: 5px;
}

.pop-up__lbl {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.pop-up__inpName {
  margin: 5px 0 0 0;
  display: block;
}

.pop-up__btn {
  background-color: #1bdf1b;
  padding: .5em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.chat {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  height: 500px;
  padding: 10px;
  background-color: #1E1D1E;
  color: #fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.chat_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__title {
  margin: 0 0 10px 0;
  text-align: center;
  letter-spacing: 3px;
}

.chat__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  overflow: auto;
}

.chat__top::-webkit-scrollbar {
  width: 10px;
}

.chat__top::-webkit-scrollbar-track {
  border-radius: 5px;
}

.chat__top::-webkit-scrollbar-thumb {
  background-color: #565456;
  border-radius: 5px;
}

.chat__message-item {
  max-width: 100%;
  margin: 0 0 8px 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  padding: 0 5px 0 0;
  color: #5A5E6A;
  font-weight: 300;
}

.chat__name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  padding: 0 5px 0 0;
  color: #9D6090;
}

.chat__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  text-align: left;
  color: #5A5E6A;
}

.chat__bttm {
  padding: 10px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat__inp-message {
  margin: 0 0 10px 0;
  padding: 2px;
  min-width: 100%;
  min-height: 50px;
  letter-spacing: 2px;
  font-size: 14px;
  background-color: #0A090A;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.2);
}

.chat__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: .5em 1em;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: #6131A6;
}
/*# sourceMappingURL=style.css.map */